@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-small); /* Default font size for mobile/small screens */
  }

  
  /* Default CSS variables */
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --color-primary: #1E3A8A;
    --color-secondary: #F3F4F6;
    --color-accent: #1E3A8A;
    --ring: #1E3A8A;
    --h1-color: var(--color-primary);
    --input-background: var(--color-secondary);
    --input-placeholder: #4B5563;
    --border: var(--color-primary);
    --footer-background: #14265A;
    --card-shadow: #000000;
    --button-hover: #14265A;
    --button-text: #ffffff;
    --button-radius: 0.3125rem;
    --card-radius: 0.625rem;
    --font-medium: 1.5rem; /* For medium screens */ 
    --font-large: 2rem;  /*For large screens */
    --font-small: 0.875rem;  /* For small screens */
     --font-button: 1.125rem; 
    --font-weight-extrabold: 900;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --form-height: 30rem;
    --form-width: 45rem;
    --form-input-width: 22rem;
  }


  /* For small screens (mobile) */
  @media (min-width: 640px) {
    :root {
      --font-small: 1rem; /* 16px */
      --font-medium: 1.25rem; /* 20px */
	  --font-large:2.25rem
    }
  }

  /* For medium screens (tablets) */
  @media (min-width: 768px) {
    :root {
      --font-small: 1.125rem; /* 18px */
      --font-medium: 1.5rem; /* 24px */
	  --font-large:2.5rem
    }
  }

  /* For large screens (desktop) */
  @media (min-width: 1024px) {
    :root {
      --font-small: 1.25rem; /* 20px */
      --font-medium: 1.75rem; /* 28px */
      --font-large: 3.5rem; /* 56px */
    }
  }

  /* For extra-large screens */
  @media (min-width: 1280px) {
    :root {
      --font-small: 1.125rem; /* 18px */
      --font-medium: 1.5rem; /* 24px */
      --font-large: 3rem; /* 64px */
    }
  }
}
